@import "~vtex-css-utils/sass/_css-utils";
@import "./BannerSlider";

.BannerEditor {
  background-color: $gray-soft;
  height: 100%;
  overflow: auto;

  h2 {
    margin-bottom: 20px;
  }

  &__wrapper {
    padding: 0px 15px 90px 15px;

    @media (min-width: $screen-sm-min) {
      padding: 55px 15px 90px 15px;
    }
  }

  &__form-wrapper {
    margin-top: 1.5em;
  }

  &__form {
    input {
      margin-bottom: 1em;
    }
  }

  &__form-url, &__form-link, &__form-alt {
    label {
      font-family: $font-body;
      color: $black-soft;
    }
  }

  &__title {
    font-family: $font-body;
    font-weight: 700;
    font-size: 14px;
    color: $black-soft;

  }

  &__title--big {
    color: $black-soft;
    font-family: $font-body;
    font-size: 26px;
    font-weight: 700;
  }

  &__quant-selector {
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 0px 0px darken(#FFF, 8%);
    border-radius: 3px;
  }

  &__quant-selector__input {
    @extend %css-utils-no-outlines;
    border-bottom: 2px solid darken(#FFF, 8%);
    border-top: 2px solid darken(#FFF, 8%);
    border-right: none;
    border-left: none;
    color: #555555;
    text-align: center;
    height: 50px;
    width: 60%;
    margin-bottom: 0px !important;
  }

  @mixin BannerEditor__quant-button {
    @extend %css-utils-clean-btn;
    @extend %css-utils-no-outlines;
    background-color: #FFF;
    color: darken(#FFF, 45%);
    border: 2px solid darken(#FFF, 8%);
    font-size: 1.6em;
    font-weight: 500;
    height: 50px;
    line-height: 1em;

    &:active {
      background-color: darken(#FFF, 6%);
    }
  }

  &__quant-button--left {
    @include BannerEditor__quant-button;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    width: 20%;
  }

  &__quant-button--right {
    @include BannerEditor__quant-button;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    width: 20%;
  }

  &__toggle {
    display: none;

    // add default box-sizing for this scope
    &, &:after, &:before,
    & *, & *:after, & *:before,
    & + .BannerEditor__toggle-button {
      box-sizing: border-box;

      &::selection {
        background: none;
      }
    }

    + .BannerEditor__toggle-button {
      outline: 0;
      width: 3.7em;
      height: 2em;
      position: relative;
      cursor: pointer;
      user-select: none;

      &:after, &:before {
        position: relative;
        display: block;
        content: "";
        width: 50%;
        height: 100%;
      }

      &:after {
        left: 0;
      }

      &:before {
        display: none;
      }
    }

    &:checked {
      + .BannerEditor__toggle-button {
        &:after {
          left: 50%;
        }
      }
    }
  }

  &__toggle--light {
    + .BannerEditor__toggle-button {
      vertical-align: middle;
      float: right;
      background: #f0f0f0;
      border-radius: 2em;
      padding: 2px;
      transition: all .4s ease;

      &:after {
        border-radius: 50%;
        background: #fff;
        transition: all .2s ease;
      }
    }

    &:checked {
      + .BannerEditor__toggle-button {
        background: #17904a;
      }
    }
  }
}
