@import "~vtex-css-utils/sass/_css-utils";

.BannerEditor {
  background-color: $gray-soft;
  height: 100%;
  overflow: auto;

  &__wrapper {
    padding: 15px 15px 70px 15px;
  }

  &__form-wrapper {
    margin-top: 1.5em;
  }

  &__form {
    margin: 0em 1em 0em 1em;

    input {
      margin-bottom: 1em;
    }
  }

  &__form-url, &__form-link, &__form-alt {
    label {
      font-family: $font-body;
      color: $black-soft;
    }
  }
}
