@import "./base/base.less";

.v-banner-ed__editor {
  background-color: @gray-soft;
  height: 100%;
  overflow: auto;
}

.v-banner-ed__editor__wrapper {
    padding: 15px 15px 70px 15px;
}

.v-banner-ed__title {
  font-family: @font-display;
  margin-top: 10px;
}

.v-banner-ed__current-banner {
  background: url('/assets/@vtex.storefront-banner/images/default_banner.png') no-repeat;
  background-size: 100% auto;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.v-banner-ed__banner-placeholder-text {
  display: flex;
  font-size: 1.2em;
  font-weight: 700;
  color: @black-soft;
}


.v-banner-ed__add {
  display: flex;
  align-items: center;
  justify-content: center;
}

.v-banner-ed__add-button {
  .v-clean-btn();
  background: url('/assets/@vtex.storefront-banner/icons/plus-icon.svg') no-repeat @red-matter;
  background-color: @red-matter;
  background-position: 15px center;
  background-size: 15px auto;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 0px darken(@red-matter, 10%);
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 10px 10px 10px 34px;
  width: 90%;

  &:active {
  box-shadow: none;
  transform: translateX(1px) translateY(1px);
  }
}

.v-banner-ed__add-label {
  color: @black;
  margin-top: 0.5em;
  margin-left: 0.5em;
  font-weight: 700;
}

.v-banner__show {
  display: flex;
}

.v-banner__hide {
  display: none;
}

.v-banner-ed__form {
  margin: 0em 1em 0em 1em;
  opacity: 0;
  overflow-y: hidden;
  transition: opacity, 0.2s 0.3s;
  height: 0px;

  .v-banner-ed__form__wrapper {
    transform: translateY(-205px);
    transition: transform, 0.3s;
  }

  &[data-is-adding=true] {
    opacity: 1;
    transition: opacity, 0.2s;
    height: 205px;

    .v-banner-ed__form__wrapper {
      transform: translateY(0px);
      transition: transform, 0.3s 0.2s;
    }
  }

  input {
    margin-bottom: 1em;
  }
}

.v-banner-ed__form__url, .v-banner-ed__form__link, .v-banner-ed__form__alt {
  label {
    font-family: @font-body;
    color: @black-soft;
  }
}
