.v-banner {
  width: 100%;
}

.v-banner--edit {
  border: 2px solid #018cd1;

  .v-banner__img {
    opacity: 0.2;
  }

  &[data-no-config=true] {
    border: 5px solid #018cd1;
    padding: 10px;
  }
}
