@import "./base/base";

.v-banner {
  width: 100%;
}

.v-banner--edit {
  &[data-no-config=true] {
    box-shadow: inset 0px 0px 0px 3px #E94B35;
    //outline: 2px solid #E94B35;
    //outline-offset: 5px;
    transition: box-shadow 0.4s cubic-bezier(1, 0.12, 0, 1.07) 0.4s, outline 0.4s cubic-bezier(1, 0.12, 0, 1.07) 0.4s;
    padding: 10px;
  }
}
